#show_input{
   min-width: 25rem;
   margin: 0rem;
}


#left{
    display: flex;
    flex-direction: column;
    width: 25%;
 }
 
 #right{
    display: flex;
    flex-direction: column;
    width: 75%;
 }

 #test{
     display: flex;
 }

#bearbeitungsform{
display: flex;
}